* {
    font-family: "Work Sans", sans-serif;
}

header {
    padding: 50px 240px 0px;
    background: rgba(255, 144, 14, 0.10);
}

.nav-title {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

nav {
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
}

nav ul {
    gap: 50px;
    align-items: center;
    display: flex;
    padding-inline-start: 0px;
}

nav li {
    list-style: none;

}

nav a {
    text-decoration: none;
    color: var(--Dark-02, #424242);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

/* Banner style starts */
.banner-title {
    margin-top: 116px;
    color: var(--Dark-01, #131313);
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}

.banner-desc {
    margin-top: 30px;
    color: var(--Dark-03, #727272);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    /* 162.5% */
}

.make-center {
    display: flex;
    justify-content: center;
}

.btn-primary {
    margin-top: 32px;
    margin-bottom: 50px;
    padding: 20px 25px;
    border: 0px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.banner img {
    max-width: 100%;
    padding-bottom: 50px;
    margin: 20px;
}

section {
    display: flex;
    margin: 0 auto;
    max-width: 1320px;

}

.img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    gap: 10px 10px;
}

section img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.img-section {
    margin-bottom: 15px;
}

.img-des {
    width: 468px;
    display: flex;
    align-items: center;
    margin-left: 30px;

}

.head-des {
    color: #727272;
    font-family: "Work Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.of-our {
    color: var(--Dark-01, #131313);
    font-family: "Work Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Features {
    color: #FF900E;
    font-family: "Work Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Features-section {
    /* width: 1440px; */

    width: 1920px;
    gap: 146px;

}

.feature-head {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    width: 468px;
}

.feature-info {
    color: var(--Dark-03, #727272);
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 586px;
    /* 162.5% */
}

.card {
    width: 586px;
    height: 171px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}



.card h4 {
    color: var(--Dark-01, #131313);
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card p {
    color: var(--Dark-03, #727272);
    font-family: "Work Sans";
    font-size: 16px;

    font-weight: 400;

    /* 162.5% */
}

.feature-img {


    width: 562px;
    height: 900px;
    flex-shrink: 0;
    border-radius: 8px;
}

.architect-part .btn-primary {
    width: 342px;
    height: 170px;
    flex-shrink: 0;
    margin-left: -100px;
    margin-top: -150px;
    width: 258px;
    font-size: 50px;
    padding: 25px 25px;
}

.year {
    color: #FFF;
    font-family: "Work Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 500;

}

/* Some part */
.some-part h3 {
    width: 258px;
    color: var(--Dark-01, #131313);
    font-family: "Work Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.some-part {
    width: 1674px;
    margin-left: 246px;
}

.some-part p {
    color: var(--Dark-03, #727272);
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    width: 542px;

    /* 162.5% */
}

@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
    }

    * {
        margin: 0px;
        border: 0px;
    }

    header {
        padding: 20px 20px;
    }

    .banner-title {
        margin-top: 50px;
        font-size: 35px;
    }

    .img-section {
        display: flex;
        flex-direction: column;
    }

    .img {
        height: 40vh;
        margin-left: 25%;
        margin-top: 20px;
    }

    .head-des {

        font-size: 30px;
        margin-left: 18px;
        margin-top: 15px;

    }

    .Features {

        font-size: 30px;

    }

    .of-our {

        font-size: 30px;

    }

    .p {
        font-size: 15px;
        margin-top: 10px;
    }

    .img-section .btn-primary {
        font-size: 10px;
        padding: 15px 20px;
        margin-left: 35%;

    }

    .Features-section {
        flex-direction: column;
        width: 450px;
        gap: 10px;
        width: 450px;
        border: 1px solid black;

    }

    .feature-head {
        font-size: 25px;
        margin-bottom: 10px;
        margin-left: 10px;
        width: 450px;
    }

    .feature-info {
        width: 450px;
        font-size: 15px;
        margin-left: 10px;
    }

    .card {
        width: 450px;
        height: 161px;

    }

    .feature-img {


        width: 450px;
        height: 700px;
        flex-shrink: 0;
        border-radius: 8px;

    }

    .architect-part .btn-primary {
        font-size: 40px;
        margin-left: 100px;
    }

    .some-part {
        width: 400px;
        margin-left: 50px;
        border: 1px solid black;
    }
    .some-part h3 {
        margin-left: 110px;
        font-size: 30px;
        
    }
    
    .some-part p {
        width: 400px;
    
        /* 162.5% */
    }

}

@media screen and (min-width: 576px) and (max-width: 992px) {
    nav {
        flex-direction: column;
    }

    header {
        padding: 20px 20px;
    }

    .banner-title {
        margin-top: 50px;
    }

    .img-section {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        gap: 10px;
    }

    .img {
        height: 40vh;
        margin-right: 10%;

        margin-top: 20px;
    }

    .head-des {

        /* font-size: 30px;
        margin-left: 18px;
        margin-top: 15px; */

        color: #727272;
        font-family: "Work Sans";
        font-size: 45px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

    }

    .Features {

        font-size: 30px;

    }

    .of-our {

        font-size: 30px;

    }

    .p {
        font-size: 15px;
        margin-top: 10px;
    }

    .img-section .btn-primary {
        font-size: 10px;
        padding: 15px 20px;
        margin-left: 20%;

    }

    .Features-section {
        flex-direction: column;
        width: 450px;
        gap: 10px;
        width: 450px;
        border: 1px solid black;

    }

    .feature-head {
        font-size: 25px;
        margin-bottom: 10px;
        margin-left: 10px;
        width: 450px;
    }

    .feature-info {
        width: 450px;
        font-size: 15px;
        margin-left: 10px;
    }

    .card {
        width: 450px;
        height: 161px;

    }

    .feature-img {


        width: 450px;
        height: 700px;
        flex-shrink: 0;
        border-radius: 8px;

    }

    .architect-part .btn-primary {
        font-size: 40px;
        margin-left: 100px;
    }
    .some-part {
        width: 400px;
        margin-left: 110px;
        border: 1px solid black;
    }
    .some-part h3 {
        margin-left: 110px;
        font-size: 30px;
        
    }
    
    .some-part p {
        width: 400px;
    
        /* 162.5% */
    }
}